<div class="container">
  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-diagram-project"></i>Diagram primerov uporabe
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Diagram primerov uporabe -->
      <img
        src="https://teaching.lavbic.net/plantuml/png/hLVDRkCs4BxhAOZqqWfmRWMAOX5Waztj6hlT1ebh10jVQ6biqv99WQAKLhj-X3n4NgIdvBqwf6IAr8_Z01i4XZtppJV3uN26p1F6CohfZYnfbAobA7WSYLH8eYJbEQg0go2tg1XMj4ZL3FvHRrEsvZjKamW_G3ge8eU8va2-1SJXlJAyznkcGCk5Z47Mifz-_N3vs_ihb58fnNqjNAPe6UmTMXef8IyTknhI1GmwR45SgEEHhGHNTGxMalvhGtL4-o18OQM84aIozKQHc4c851Cy29HOWzg0D2vCGEJiMh8jBTCjy0KlCY7fahE4_Fn-zl6NCq9pqkh_FcXHP-sjy0N6CQu0xGR4P6A2dto_y3mC1qCcUiK-Tk-jjebiplA2fbTIv3dZwmKdRw-d9h2vX1tWZtOHDv2hAyo_aWnoik07f9Lvw5lWEJ03gB-sgXdGQ6Ey7IWE4ismHs2B_GnqbO9geOsWzXNWdzvAojSfaBCFDrF2AjIQx7whYVmjFjJwMHXUIq2hE0mNF1PPaIjHDbjYvEyQMTU89RJIDc6OYLYA9HUvOhN0-APXUDXPH5wtcAdHZjFbIP5nqCSJ6ZfEEDt6aZx_jmKyoyZ1QSJm-u2ZToAckExDbAy4vd1iqHgsfTpdq-vAacc6H9HSu5chXE4syFab_kp4BLXLGhp468WWfQuLNc3rL1HZMs8l8ecasxQGBFv8QBYEM2nPQQ8x1DEowo1PrKO9EaeuP41RJYiC50OtkI794y2KPW93OJPx1l2baVhMSrRXwM2Lpf9UQir2IQKRoqhidFp_WOBZgxFL5eQnI0hTYvli-sNdgCWH3awV7gGk0amBxhdSQGjSu89BU7vagWH_VH62fxV3sM4nr5M0xRO4iYfu4c5xfAafN9Tdgf57eieLLGnjagQe55r2wZ7SMiJnMi2kHclEYkYE9d6z1HUxjkerecwyxfOzFyBJGwABI5ldcMu7c9HSJyWwa3cY3M2aL6e6KVeROwom7JJz2Vyj3pdNtVRymWdgT_Bc3KvTuF75XOPwXy3Ys-EbyOn7QH63CUYKfUkXBVM-aQr4SbvaBy7reF4seBi5cRHxK6VVQJb6TqCZ5FgM1vrdfKiX33_E_lmyo33N6aDZFWQKP1ABUwu7Mi_tVgHqY9sqrAqOEn2fNtq-Iurg5f-8vqSgMMGgIXLIb-_J0pRR1Q-mg7QijCUaiViaScCmgy4HOh-so9D7IkiB-gvw0yOwWvDyrOsQRPgMPCU17JwPq55WmzID7NPunoXPNBWpnzfyeLyjmFVuLtmuo9tjg1NERk0Mx0DRnRt1QIlQcywTS_QIRR-kXi-GEqsTizTptRTyQJ-QK4wg4pAukk6ilvgt3TrjD_MK89CYgyzQVoQrQ3CBNe3-e1RJhET7jPhajNHtOsnt7R8ZpiPQsASZzdUlCcz6qx4OpZN9gNNIBx-ns5v5wvSrddddZJFf7RDXhNEB6B5swz27E9VQhgrxZ-pfElrgxEKrSUy1nr7UnI8OVFHDJapgg7MlpmOdDYfjx3xCZdOV3NQUPcsAUpITgv1MsxUcjm530VXBCGZl-TactkYQbsTxKNE4VlOTpVy0"
        class="mt-4 mb-4"
      />
      <!-- KONEC: Diagram primerov uporabe -->
    </div>
  </div>

  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-diagram-project"></i>Razredni diagram
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Razredni diagram -->
      <img
        src="https://teaching.lavbic.net/plantuml/png/pLdTSnkv3N_k_XMS-g7AE9BgtBddQb9t75bsTETOgYJdPlgIeNPfYTfTSezBRIAb_jyBSh_8_P1ifm-TkSWI2Fm00Y00ycAViWWB728tm76ClZi8BR7hhmJVCc_80oxGrpMLHD6vy8X8QIVdDnykHaEWOY7urvIu343IUN9Y6_Jz-wK2ms9tUTceuEJntQDBBgegVlOkVZbxruJdSYO53rhX0AmEztToTdvstWH7cAIorJXoyNZ-w5foZ4loR5Uj1Du1wH5ijWYIV9Cue2iMWdxamWSHbfOItDLoKc0Mmn9mEclg4UHIuGR4-Kif4b16v2uYY0kvveupr46TIq7sZFgewhakmX6TH99o5W_GPBaXhap9toYtAV4V0MpD8aNB0Rh64YznJ3JXaOkGUdWPs7paMoH8N87BJ6fYdCC_iCXSwiB72Ke4e_TuJvEvSeLFEh7-YyVU054ctwA89m9BHdyBg3j0Zrlcggsz6IXrbAqAa6knnmd_KPGvx027roIMb66NRZgjWh_E9_TN8Wtx2V8A2JBU_yPZBAXBEdkybYJ10_HHocX6_jW2rm5R3a3EiBjbk2FKd-ERie5oNxmG15PjyJdPl7XBEOZsRHQRPvgjHBJ5BvBuACFWtpYMEA4kVtuQlAVXwXAHWAY32s3mtocw7Iq6WpvgsJFtLZpX8gV64HmuyiOGzDCqmFq1zIPnY3hwJsR93sA-sgY4k5tUBNEBTg5SA0kLUMNUazUQEPtCbHgwZsYSXky3th_UN0EdF-3BWFh_4wnNOqI2Rd22VrH-ugdF_g38JrHBrTSgu9xWIyAwiQvaHgHVRRDHYBgwTe3XMGr1bMBoIWqS0lDgyy0o8Lye_LIqKGA_AQgCCtzQ0tSywFTZlTmBSBAaRW_wyE3Y_EU_bUApqNmn14be8YI-cevRWQ07IZTdxBayx2S_zSx0zf3qOI-wu1HR-av3ejiPUUeKN_DMbLMzh8-29PafTmG_1aJMBEYYoNpswSl3xCveTeK-x7btU4T49r2VUNi67GcdNicpu9qGHxXvVKcPD-NHDkeaCO4V-EFYqvrXhi4gICWJSbJZYiWxBE_OglF6c1XAW64wyJJQLCJcCustE1WA3fC7MnqApbU2vPg8Ng8bt4n2Hya6-PqivqH0Po6nZYZaH_PBGfpKeDOIpF84FVKPp8Y_U7WN_tFBgBo5OJ3wHqZ0MMwlr-lOtAr1JxUu8DXT7zcSp7YC9EvFnlF-4ifoWxNZwoTLGx3qQL_rqtuIqyxukc98tdCFo7ttWytMVJ9ato9DQjvJYZLzg6BX_LPGWJVjE6_pjht0IwB6r2Nd0S7CJgdhqTreCHeCa8M-5DJQNjr4EwVIyV3NUMNgXaDcfg9M2RCqbnMAvAvFfbpId5xwKI48duXDuzhDRFpbxce18ql0iJI9zxScKN-S81YvG-p3J5na4bVZcx8TVywcKmxzFglQa7Eb0m8iCqJupbR5zpmGZVu5bRhlC0uAZVpDTLHu1RJnlV93nrxWR4QmjwjGFGZMvfFsJgVDkeRAynOkMoB1LsmLaDZdJGNf1D6zJe63wBKic9fDl9uAr1i3AcOa6tZpARW83sV2scOLk2c_g8QS6Tqsom8Q-nYkK7HVB-zrXnQQRhRCTs7qnO4AMLsTgWuMe2B5v4445UfyT3yVZR_CheOFzqqDXi7TrgDJJlS9yPQyARIVOKBaBOKF8WkvJ9hQn4c6NRkosGTVJtrJVTvvqgb6NmN_Lk37JbOHrFU1Ul_0EviL4ipreGo5m0S-c_YCVqv9C5j0rkL5g9BGFfoO66_kSHo0TjYBf_njvABXCNqmLFn7gXkHBUm9TiZKHTBGckN88QqUZtZ0gAw7gPMrdKSy3hOnD3lwIKDZWCP7JcCvQv1vm5UezWPqYXAwXtP9zrQXq2kW4EvaFadle7ONKQl9daZYvwj5rJpDhvzvofSf35C4tyecA_RP_G_NxtLAbSTqD0pVdsQUP_Hs6owj1MQyJLWBNXOSRLcqbL_Ksu-JJYy0NwD2JTwGK3-FDA5qmK4qs619uCDYyJbSLY6rkqIkSrG6PXAH-YUTyvCqp0CarLjDwQM96grD7-KBztfihdZFSd2MQRN9ubJNd20hEjOsIuDq99KzrN4XNKuzMb_LrGoNXnatA81Io8LLAmgKOgm5U3zTi-QBFUSLoXhoCg0ciQrmDTUJwcpGb8znfKBPsouHCWxr984gBvYdQ1A7r2iVL0pUnIuYOsFfbd0rJ-vAsYb4ExJJLn56znRfT-fJs5QPVKs6AMMsSP0FhSRKL1UGkP4rhBhr2aJ1ra66d0jFAQwRL2wPG2SjyBhnGrCEyj-g-UlVJvcgCOCQw98xcF7hiJ4MpK1av75psCpmFC1DOAgU30ihJj6_jbXhIRcAFMUWhKQOseRRMC9sXQagOxl6wkLNVMhg1ne4wYBXUUcphf4MsT9GcrAdpwL6QX3Grzr6cQbg1i6GUxRWWWEry7iUusmFzGZNDgSmRgY8PINR5VqEUWAhauSyZ33RLQXrDsXUsmEALDry2bdTjxxPD6rPBwmvgz9kyBSAPHHY6bIcXVasYhYGCnBbBYYSDWgZWEz8_LZa2xRJMfpJvii5bG6f60DMW2tnWfku7wYGwpJJl3JJ5FKZ5QH6_7ztkHf-Yl_dycU4pdgzCmHVkjkeUwa8V-trtYc2desST49IY_-vp2OLMxmggmcgMJkwOxz0yYT5o7gra_VibsfEcvUJzR2NIkjPmaad2blMCUjcAi4KGYglXOsIsCXTOSzOSjOsjhmwE4NzQ67CJuHJd9bZZ8xPfrkOAntnEI9vPtAArfYllEzsJQ6ojJaDiR4ZOpht6A_X_EVo7kKhmd2CiVgIwZYLAsf5Jd_FakmPdFdvECnQdWRrxEiuvNty4EPXhdpZZbCy7ZMocGVm65GRLsv_zXPSR21xgJZWmkEEqMN6U70yQeJ9-potrrvi_mi0"
        class="mt-4 mb-4"
      />
      <!-- KONEC: Razredni diagram -->
    </div>
  </div>

  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-diagram-project"></i>Diagram zaporedja
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Diagram zaporedja -->
      <img
        src="https://teaching.lavbic.net/plantuml/png/jLLBRjj03Dth58HMDj0WUoC8q3PjOHGe1DJnAXjACt6fpumm6gc0xj13z2xjlKfzQeyaosaCTMM373y-ak_H65bjmFyYSqCnLcairPE2CjS6GqM9xtav6aiHvQWi-9kWVOR-AFonL4b4Mc6gT677sJqL9QRlZIuAKWTu6sp7BtOIes_7dEVD4uARUvS6HfOgjDADdRuE7s_WzXRsJ10eameXCHZZMOG9nAY_5kbpIWampA7CGl0VjC0OX2miAOmerb11YBLcCAV2U4wJo7mvXKOA2ZJLbHIXNgqNmWsC3AMXPYOEVGayTQgXueTA7X1odVAml3daColkq7k-29y-x1hC0dYnGeVDOYbhDw4pjx3RrZdXJ0dStLmWi3VuwqT3Nw1D9F1QZEIQPSEbxk9AktlpX7o1mMkcAnfPxD-n41PRs6DXA-I5wJ2MYOKLZ_1DrzLwbjh0NvlE1DtliTSfh8B7tTfxlIA_obfXzd0Su5LzZlXDXCERgWh97pdnHykOt3B3-p4ZaMcHNXnJw846NWAV7fcMBYRQqVf0Ouspk4vhih9VvvtEBOFUCmLXT2xqTmKiL8hB8PlnHFzF4eRP-Siuw7jRX_nlubuHRfHx73OqStElEBhREgVVF-cCk_a9rQ51HGuTyXUo877T8cYBwkgouBtbRd7N47UP_mrEfNAzlre3DA0yJ4ZIk8na1lw91MzbQTzr9NilNFBSFvck4KFHIq5N9oqygJPfE7am-8nBEUQetBFHFm00"
        class="mt-4 mb-4"
      />
      <!-- KONEC: Diagram zaporedja -->
    </div>
  </div>
</div>

<script src="skripte/funkcionalnost.js"></script>