<div class="container">
  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-pencil"></i>Opis ideje, ki jo nova
        funkcionalnost podpira
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Opis ideje, ki jo funkcionalnost podpira -->
      <p>
        <strong><i class="fa-solid fa-list-check me-1"></i>TO-DO</strong>: Na
        tem mestu je potrebno dodati
        <strong>osnovni opis ideje rešitve</strong>
        (kakšen je osnovni SCENARIJ UPORABE, KDO je ciljna publika (gost ali
        prijavljen uporabnik), za kakšen NAMEN se funkcionalnost uporablja).
      </p>
      <p class="text-muted mb-0">Opis naj ne bo daljši od 200 besed.</p>
      <!-- KONEC: Opis ideje, ki jo aplikacija podpira -->
    </div>
  </div>

  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-pencil"></i>Uporabljeni zunanji viri podatkov
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Uporabljeni zunanji viri podatkov -->
      <p class="mb-0">
        <strong><i class="fa-solid fa-list-check me-1"></i>TO-DO</strong>: Na
        tem mestu je potrebno navesti zunanji vir podatkov (URL naslov), na
        kakšen način ste ga uporabili (neposredni API klic, uvožena statična
        datoteka ipd.) in kaj je bil namen uporabe (kako se vključuje v osnovno
        idejo aplikacije).
      </p>
      <!-- KONEC: Uporabljeni zunanji viri podatkov -->
    </div>
  </div>

  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-pencil"></i>Master/detail načrtovalski vzorec
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Master/detail načrtovalski vzorec -->
      <p class="mb-0">
        <strong><i class="fa-solid fa-list-check me-1"></i>TO-DO</strong>: Na
        tem mestu morate navesti uporabljen master/detail načrtovalski vzorec in
        na kakšen način ga nameravate uporabiti.
      </p>
      <!-- KONEC: Master/detail načrtovalski vzorec -->
    </div>
  </div>

  <div class="card text-center m-3">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-pencil"></i>Uporabljena tehnika za
        vizualizacijo podatkov
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Uporabljeni zunanji viri podatkov -->
      <p class="mb-0">
        <strong><i class="fa-solid fa-list-check me-1"></i>TO-DO</strong>: Na
        tem mestu je potrebno navesti uporabljeno tehniko vizualizacije
        podatkov, kjer obvezno uporabite knjižnico
        <a href="https://canvasjs.com/" target="_blank"><i
            class="fa-solid fa-earth-europe"
          ></i>canvasJS</a>).
      </p>
      <!-- KONEC: Uporabljeni zunanji viri podatkov -->
    </div>
  </div>
</div>