<div class="container">
  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-pencil"></i>Opis ideje, ki jo nova
        funkcionalnost podpira
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Opis ideje, ki jo funkcionalnost podpira -->
      <p>
          Implementirana funkcionalnost omogoča hitro pridobivanje podatkov o vremenu za naslednjih 7 dni v poljubnem izbranem kraju.
          Namenjena je neprijavljenim uporabnikom, katerim omogoča, da hitro pridobijo informacije o vremenskih razmerah v želenem kraju. <br><br>
          Namen je predvsem informativen, saj uporabnikom omogoča vpogled v 7-dnevno vremensko napoved, kar jim pomaga načrtovati svoje dejavnosti oziroma izlete. <br><br>
          Prvo okno na osnovni strani omogoča uporabniku, da vpiše želeno destinacijo in jo shrani v podatkovno bazo,
          drugo okno pa omogoča uporabniku izbiro katerekoli destinacije iz baze in prikaz podatkov o vremenu za izbrano lokacijo, in sicer maksimalno hitrost vetra,
          povprečno temperaturo ter kratek opis vremena. <br><br>
          Glavna ideja oziroma motiv je, da uporabnikom naše spletne strani ponudimo dodatno funkcionalnost, ki dopolnjuje/omogoča celovit
          načrt izleta oziroma potovanja kar znotraj spletne strani.
          Tako lahko uporabniki najprej v bazo dodajo željene lokacije, nato pregledajo vreme na teh lokacijah in se na podlagi tega odločijo, kam se
          bodo odpravili. Nadaljnja funkcionalnost (izbor destinacij, dodajanje v košarico, prikaz na zemljevidu, izdaja računa) pa je na spletni strani
          že implementiran.
      </p>
      <!-- KONEC: Opis ideje, ki jo aplikacija podpira -->
    </div>
  </div>

  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-pencil"></i>Uporabljeni zunanji viri podatkov
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Uporabljeni zunanji viri podatkov -->
      <p class="mb-0">
        Za zunanji vir sem uporabil API ponudnika visualcrossing.com, ki vrača podatke o vremenu na iskani lokaciji. Ta API sem izbral, ker je zelo
          prilagodljiv v smislu izbire vrnjenih podatkov. <br><br>
          Točen URL naslov, ki sem ga uporabil: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/{imeDestinacije}/next7days?unitGroup=metric&elements=datetime%2Ctemp%2Cwindspeedmax%2Cconditions&include=days&key=FQJKS22Y4MZ97GQXL5C7ZBFV6&contentType=json <br><br>
          Osnovni URL naslov za ta API je precej krajši, vendar sem zaradi preglednosti vrnjenih podatkov dodal še nekaj filtrov, kar je precej vplivalo na dolžino URL-ja.
          Vir sem uporabil z neposrednim API klicom, in sicer za vsak vnos kraja v levem oknu ter pritisk na tipko "Dodaj destinacijo v bazo" se je klical zgoraj
          omenjeni API, vrnil podatke o vremenu na iskanem kraju, ti podatki pa so se nato shranili v Teaching API bazo in so nato služili za prikaz
          podatkov o vremenu (v desnem oknu). <br><br>
          Na začetku so v Teaching API bazi prisotni testni primeri, da se lahko takoj stestira funkcionalnost.
      </p>
      <!-- KONEC: Uporabljeni zunanji viri podatkov -->
    </div>
  </div>

  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-pencil"></i>Master/detail načrtovalski vzorec
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Master/detail načrtovalski vzorec -->
      <p class="mb-0">
        Master/detail načrtovalski vzorec je implementiran v izpis vremena za izbran kraj. Master predstavlja seznam krajev v bazi (select -> option HTML elementi),
          detail pa je izpis vremena, ki se pokaže ob kliku na gumb "Izpiši podatke o vremenu na izbrani destinaciji". Gre torej za generiranje ter izpis podatkov, ki je odvisen od izbora destinacije. <br><br>Prav
          tako se v detail morda lahko šteje tudi vizualizacija z grafom, namreč ob izpisu vremena se prikaže tudi graf, ki še vizualno predstavlja potek vremena na tej destinaciji
          v naslednjih 7 dneh.
      </p>
      <!-- KONEC: Master/detail načrtovalski vzorec -->
    </div>
  </div>

  <div class="card text-center m-3">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-pencil"></i>Uporabljena tehnika za
        vizualizacijo podatkov
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Uporabljeni zunanji viri podatkov -->
      <p class="mb-0">
          Za vizualizacijo podatkov o vremenu na izbranem kraju v naslednjih 7 dneh sem uporabil knjižnico <a href="https://canvasjs.com/" target="_blank"><i
              class="fa-solid fa-earth-europe"
      ></i>canvasJS</a>. Tip grafa je stolpčni diagram, ki ima na x osi datume (7 dni), na y osi pa povprečno temperaturo. <br><br>
          Graf se zgenerira ob izbiri destinacije iz baze in kliku na gumb "Izpiši podatke o vremenu na izbrani destinaciji". <br><br>
          To tehniko za vizualizacijo sem izbral, ker se mi zdi najbolj preprosta in uporabnikom prijazna, obenem pa poda hiter pregled nad potekom vremena.

      </p>
      <!-- KONEC: Uporabljeni zunanji viri podatkov -->
    </div>
  </div>
</div>

<script src="skripte/funkcionalnost.js"></script>